extends layout

block content
  .container.mt-5
    .row.gx-5.h-50
      .col
        form().shadow-lg.p-3.mb-5.bg-white.rounded#inputFileId
          .mb-3
            label.form-label(for='formFile') Suba un xml, txt o Json
            input#formFile.form-control(type='file')
          select.form-select.form-select-lg.mb-3#formSelect(aria-label='.form-select-lg example')
            option(selected='') Convertir a
            option(value='1') xml
            option(value='2') txt
            option(value='3') json
          input#llave.form-control.mb-3(type='text' placeholder='llave' required='')
          input#clave.form-control.mb-3(type='text' placeholder='clave' required='')

          button.btn.btn-primary#btn_submit(type='submit') Submit

      .col
        #resultFile.shadow-lg.p-3.mb-5.bg-white.rounded
          a#donwloadfile.d-none Descargar


    

block scripts 
  script(src="/javascripts/index.js")


