extends layout

block content
  .container.mt-5
    .row.gx-5.h-50
      .col
        .mb-3.shadow-lg.p-3.mb-5.bg-white.rounded#inputFileId
          label.form-label(for='formFile') Suba su archivo de texto 
          input#formFile.form-control(type='file')
      .col
        #resultFile.shadow-lg.p-3.mb-5.bg-white.rounded


    
